DATA PREPROCESSING AND FEATURE ENGINEERING IN MACHINE LEARNING

Objective:

This assignment aims to equip you with practical skills in data preprocessing, feature engineering, and feature selection techniques, which are crucial for building efficient machine learning models. You will work with a provided dataset to apply various techniques such as scaling, encoding, and feature selection methods including isolation forest and PPS score analysis.

Dataset:

Given "Adult" dataset, which predicts whether income exceeds $50K/yr based on census data.

Tasks:

1. Data Exploration and Preprocessing:

      •	Load the dataset and conduct basic data exploration (summary statistics, missing values, data types).

      •	Handle missing values as per the best practices (imputation, removal, etc.).

      •	Apply scaling techniques to numerical features:

          •	Standard Scaling
          •	Min-Max Scaling
          •	Discuss the scenarios where each scaling technique is preferred and why.

2. Encoding Techniques:

      •	Apply One-Hot Encoding to categorical variables with less than 5 categories.

      •	Use Label Encoding for categorical variables with more than 5 categories.
      
      •	Discuss the pros and cons of One-Hot Encoding and Label Encoding.

3. Feature Engineering:

      •	Create at least 2 new features that could be beneficial for the model. Explain the rationale behind your choices.

      •	Apply a transformation (e.g., log transformation) to at least one skewed numerical feature and justify your choice.

4. Feature Selection:

      •	Use the Isolation Forest algorithm to identify and remove outliers. Discuss how outliers can affect model performance.

      •	Apply the PPS (Predictive Power Score) to find and discuss the relationships between features. Compare its findings with the correlation matrix.

In [ ]:
!pip install ppscore

Requirement already satisfied: ppscore in c:\users\thumma madan\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: scikit-learn<2.0.0,>=0.20.2 in c:\users\thumma madan\anaconda3\lib\site-packages (from ppscore) (1.0.2)
Requirement already satisfied: pandas<2.0.0,>=1.0.0 in c:\users\thumma madan\anaconda3\lib\site-packages (from ppscore) (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\thumma madan\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\thumma madan\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\thumma madan\anaconda3\lib\site-packages (from pandas<2.0.0,>=1.0.0->ppscore) (1.24.3)
Requirement already satisfied: joblib>=0.11 in c:\users\thumma madan\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\thumma madan\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (2.2.0)
Requirement already satisfied: scipy>=1.1.0 in c:\users\thumma madan\anaconda3\lib\site-packages (from scikit-learn<2.0.0,>=0.20.2->ppscore) (1.9.1)
Requirement already satisfied: six>=1.5 in c:\users\thumma madan\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas<2.0.0,>=1.0.0->ppscore) (1.16.0)

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [ ]:

# Load the dataset
file_path = ('adult_with_headers.csv')
df = pd.read_csv(file_path)

# Display the first few rows of the dataset
df.head()

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [ ]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB
None

In [ ]:
# Summary statistics and checking for missing values
summary_stats = df.describe(include='all')
missing_values = df.isnull().sum()

summary_stats, missing_values

(                 age workclass        fnlwgt education  education_num  \
 count   32561.000000     32561  3.256100e+04     32561   32561.000000
 unique           NaN         9           NaN        16            NaN
 top              NaN   Private           NaN   HS-grad            NaN
 freq             NaN     22696           NaN     10501            NaN
 mean       38.581647       NaN  1.897784e+05       NaN      10.080679
 std        13.640433       NaN  1.055500e+05       NaN       2.572720
 min        17.000000       NaN  1.228500e+04       NaN       1.000000
 25%        28.000000       NaN  1.178270e+05       NaN       9.000000
 50%        37.000000       NaN  1.783560e+05       NaN      10.000000
 75%        48.000000       NaN  2.370510e+05       NaN      12.000000
 max        90.000000       NaN  1.484705e+06       NaN      16.000000

              marital_status       occupation relationship    race    sex  \
 count                 32561            32561        32561   32561  32561
 unique                    7               15            6       5      2
 top      Married-civ-spouse   Prof-specialty      Husband   White   Male
 freq                  14976             4140        13193   27816  21790
 mean                    NaN              NaN          NaN     NaN    NaN
 std                     NaN              NaN          NaN     NaN    NaN
 min                     NaN              NaN          NaN     NaN    NaN
 25%                     NaN              NaN          NaN     NaN    NaN
 50%                     NaN              NaN          NaN     NaN    NaN
 75%                     NaN              NaN          NaN     NaN    NaN
 max                     NaN              NaN          NaN     NaN    NaN

         capital_gain  capital_loss  hours_per_week  native_country  income
 count   32561.000000  32561.000000    32561.000000           32561   32561
 unique           NaN           NaN             NaN              42       2
 top              NaN           NaN             NaN   United-States   <=50K
 freq             NaN           NaN             NaN           29170   24720
 mean     1077.648844     87.303830       40.437456             NaN     NaN
 std      7385.292085    402.960219       12.347429             NaN     NaN
 min         0.000000      0.000000        1.000000             NaN     NaN
 25%         0.000000      0.000000       40.000000             NaN     NaN
 50%         0.000000      0.000000       40.000000             NaN     NaN
 75%         0.000000      0.000000       45.000000             NaN     NaN
 max     99999.000000   4356.000000       99.000000             NaN     NaN  ,
 age               0
 workclass         0
 fnlwgt            0
 education         0
 education_num     0
 marital_status    0
 occupation        0
 relationship      0
 race              0
 sex               0
 capital_gain      0
 capital_loss      0
 hours_per_week    0
 native_country    0
 income            0
 dtype: int64)

In [ ]:
# Handle missing values (drop or impute based on the dataset)
df = df.dropna()

# Separate numerical columns for scaling
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Apply Standard Scaling and MinMax Scaling
scaler_standard = StandardScaler()
scaler_minmax = MinMaxScaler()

df_standard_scaled = df.copy()
df_minmax_scaled = df.copy()

df_standard_scaled[numerical_cols] = scaler_standard.fit_transform(df[numerical_cols])
df_minmax_scaled[numerical_cols] = scaler_minmax.fit_transform(df[numerical_cols])

# View scaled data
print(df_standard_scaled.head())
print(df_minmax_scaled.head())

        age          workclass    fnlwgt   education  education_num  \
0  0.030671          State-gov -1.063611   Bachelors       1.134739
1  0.837109   Self-emp-not-inc -1.008707   Bachelors       1.134739
2 -0.042642            Private  0.245079     HS-grad      -0.420060
3  1.057047            Private  0.425801        11th      -1.197459
4 -0.775768            Private  1.408176   Bachelors       1.134739

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0      0.148453      -0.21666       -0.035429   United-States   <=50K
1     -0.145920      -0.21666       -2.222153   United-States   <=50K
2     -0.145920      -0.21666       -0.035429   United-States   <=50K
3     -0.145920      -0.21666       -0.035429   United-States   <=50K
4     -0.145920      -0.21666       -0.035429            Cuba   <=50K
        age          workclass    fnlwgt   education  education_num  \
0  0.301370          State-gov  0.044302   Bachelors       0.800000
1  0.452055   Self-emp-not-inc  0.048238   Bachelors       0.800000
2  0.287671            Private  0.138113     HS-grad       0.533333
3  0.493151            Private  0.151068        11th       0.400000
4  0.150685            Private  0.221488   Bachelors       0.800000

        marital_status          occupation    relationship    race      sex  \
0        Never-married        Adm-clerical   Not-in-family   White     Male
1   Married-civ-spouse     Exec-managerial         Husband   White     Male
2             Divorced   Handlers-cleaners   Not-in-family   White     Male
3   Married-civ-spouse   Handlers-cleaners         Husband   Black     Male
4   Married-civ-spouse      Prof-specialty            Wife   Black   Female

   capital_gain  capital_loss  hours_per_week  native_country  income
0       0.02174           0.0        0.397959   United-States   <=50K
1       0.00000           0.0        0.122449   United-States   <=50K
2       0.00000           0.0        0.397959   United-States   <=50K
3       0.00000           0.0        0.397959   United-States   <=50K
4       0.00000           0.0        0.397959            Cuba   <=50K

In [ ]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder

# Identify categorical columns
categorical_cols = ['workclass', 'education', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'native_country', 'income']

# One-Hot Encoding for columns with less than 5 categories
ohe_cols = [col for col in categorical_cols if df[col].nunique() < 5]
onehot_encoder = OneHotEncoder(sparse=False, drop='first')  # Changed 'sparse' to 'sparse_output'
df_ohe = df.copy()
ohe_encoded = pd.DataFrame(onehot_encoder.fit_transform(df_ohe[ohe_cols]), columns=onehot_encoder.get_feature_names_out(ohe_cols))
df_ohe = pd.concat([df_ohe.drop(ohe_cols, axis=1), ohe_encoded], axis=1)

# Label Encoding for columns with more than 5 categories
le_cols = [col for col in categorical_cols if df[col].nunique() >= 5]
label_encoder = LabelEncoder()
df_le = df_ohe.copy()
for col in le_cols:
    df_le[col] = label_encoder.fit_transform(df_le[col])

print(df_le.head()) # View encoded data

   age  workclass  fnlwgt  education  education_num  marital_status  \
0   39          7   77516          9             13               4
1   50          6   83311          9             13               2
2   38          4  215646         11              9               0
3   53          4  234721          1              7               2
4   28          4  338409          9             13               2

   occupation  relationship  race  capital_gain  capital_loss  hours_per_week  \
0           1             1     4          2174             0              40
1           4             0     4             0             0              13
2           6             1     4             0             0              40
3           6             0     2             0             0              40
4          10             5     2             0             0              40

   native_country  sex_ Male  income_ >50K
0              39        1.0           0.0
1              39        1.0           0.0
2              39        1.0           0.0
3              39        1.0           0.0
4               5        0.0           0.0

In [ ]:
import numpy as np

df_le['age_education_interaction'] = df_le['age'] * df_le['education_num'] # Feature Engineering: Creating new features

df_le['income_per_hour'] = (df_le['capital_gain'] - df_le['capital_loss']) / df_le['hours_per_week'] # Creating a new feature: Income per Hour (if 'hours_per_week' and 'capital_gain' exist)

# Log transformation for skewed features (e.g., 'capital_gain')
df_le['log_capital_gain'] = np.log1p(df_le['capital_gain'])  # log1p to handle zero values

print(df_le[['age_education_interaction', 'income_per_hour', 'log_capital_gain']].head()) # View new features

   age_education_interaction  income_per_hour  log_capital_gain
0                        507            54.35          7.684784
1                        650             0.00          0.000000
2                        342             0.00          0.000000
3                        371             0.00          0.000000
4                        364             0.00          0.000000

In [ ]:
from sklearn.ensemble import IsolationForest
import ppscore as pps

# Isolation Forest to detect and remove outliers
iso_forest = IsolationForest(contamination=0.05, random_state=42)  # Adjust contamination based on data
outliers = iso_forest.fit_predict(df_le[numerical_cols])

# Removing outliers
df_no_outliers = df_le[outliers == 1]

# PPS (Predictive Power Score) to find relationships between features
pps_matrix = pps.matrix(df_no_outliers).pivot(columns='x', index='y', values='ppscore')

# Compare PPS with correlation matrix
correlation_matrix = df_no_outliers.corr()

C:\Users\Thumma Madan\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [ ]:

print(pps_matrix)

x                               age  age_education_interaction  capital_gain  \
y
age                        1.000000                   0.701901      0.005200
age_education_interaction  0.436537                   1.000000      0.009127
capital_gain               0.000000                   0.000000      1.000000
capital_loss               0.000000                   0.000000      0.000000
education                  0.000000                   0.550829      0.000000
education_num              0.000000                   0.629512      0.000000
fnlwgt                     0.000000                   0.000000      0.000000
hours_per_week             0.000000                   0.000000      0.000000
income_ >50K               0.000000                   0.000000      0.000000
income_per_hour            0.000000                   0.000000      0.723850
log_capital_gain           0.000000                   0.000000      0.998119
marital_status             0.168563                   0.097826      0.000000
native_country             0.000000                   0.000000      0.000000
occupation                 0.000000                   0.000000      0.000000
race                       0.000000                   0.000000      0.000000
relationship               0.017732                   0.000000      0.000000
sex_ Male                  0.000000                   0.000000      0.000000
workclass                  0.000000                   0.000000      0.000000

x                          capital_loss  education  education_num  fnlwgt  \
y
age                                 0.0   0.021369       0.021369     0.0
age_education_interaction           0.0   0.228175       0.228175     0.0
capital_gain                        0.0   0.000000       0.000000     0.0
capital_loss                        1.0   0.000000       0.000000     0.0
education                           0.0   1.000000       1.000000     0.0
education_num                       0.0   1.000000       1.000000     0.0
fnlwgt                              0.0   0.000000       0.000000     1.0
hours_per_week                      0.0   0.000000       0.000000     0.0
income_ >50K                        0.0   0.000000       0.000000     0.0
income_per_hour                     0.0   0.000000       0.000000     0.0
log_capital_gain                    0.0   0.000000       0.000000     0.0
marital_status                      0.0   0.000000       0.000000     0.0
native_country                      0.0   0.000000       0.000000     0.0
occupation                          0.0   0.017216       0.017216     0.0
race                                0.0   0.000000       0.000000     0.0
relationship                        0.0   0.000000       0.000000     0.0
sex_ Male                           0.0   0.000000       0.000000     0.0
workclass                           0.0   0.000000       0.000000     0.0

x                          hours_per_week  income_ >50K  income_per_hour  \
y
age                              0.006446      0.030768         0.000000
age_education_interaction        0.015214      0.079909         0.000000
capital_gain                     0.000000      0.000000         0.924311
capital_loss                     0.000000      0.000000         0.958563
education                        0.000000      0.000000         0.000000
education_num                    0.000000      0.025421         0.000000
fnlwgt                           0.000000      0.000000         0.000000
hours_per_week                   1.000000      0.000000         0.002266
income_ >50K                     0.000000      1.000000         0.000000
income_per_hour                  0.000000      0.000000         1.000000
log_capital_gain                 0.000000      0.000000         0.983762
marital_status                   0.000000      0.000000         0.000000
native_country                   0.000000      0.000000         0.000000
occupation                       0.000000      0.000000         0.000000
race                             0.000000      0.000000         0.000000
relationship                     0.000000      0.000000         0.000000
sex_ Male                        0.000000      0.000000         0.000000
workclass                        0.000000      0.000000         0.000000

x                          log_capital_gain  marital_status  native_country  \
y
age                                0.004409        0.205311        0.000000
age_education_interaction          0.008715        0.117845        0.004733
capital_gain                       0.997589        0.000000        0.000000
capital_loss                       0.000000        0.000000        0.000000
education                          0.000000        0.000000        0.000000
education_num                      0.000000        0.000000        0.000000
fnlwgt                             0.000000        0.000000        0.000000
hours_per_week                     0.000000        0.000000        0.000000
income_ >50K                       0.000000        0.000000        0.000000
income_per_hour                    0.723902        0.000000        0.000000
log_capital_gain                   1.000000        0.000000        0.000000
marital_status                     0.000000        1.000000        0.000000
native_country                     0.000000        0.000000        1.000000
occupation                         0.000000        0.000000        0.000000
race                               0.000000        0.000000        0.000000
relationship                       0.000000        0.152769        0.000000
sex_ Male                          0.000000        0.000000        0.000000
workclass                          0.000000        0.000000        0.000000

x                          occupation      race  relationship  sex_ Male  \
y
age                          0.014876  0.000000      0.154645   0.000525
age_education_interaction    0.085080  0.000000      0.114587   0.000000
capital_gain                 0.000000  0.000000      0.000000   0.000000
capital_loss                 0.000000  0.000000      0.000000   0.000000
education                    0.000000  0.000000      0.000000   0.000000
education_num                0.161250  0.000000      0.000000   0.000000
fnlwgt                       0.000000  0.001304      0.000000   0.000000
hours_per_week               0.000000  0.000000      0.000000   0.000000
income_ >50K                 0.000000  0.000000      0.000000   0.000000
income_per_hour              0.000000  0.000000      0.000000   0.000000
log_capital_gain             0.000000  0.000000      0.000000   0.000000
marital_status               0.000000  0.000000      0.319858   0.000000
native_country               0.000000  0.000000      0.000000   0.000000
occupation                   1.000000  0.000000      0.000000   0.000000
race                         0.000000  1.000000      0.000000   0.000000
relationship                 0.000000  0.000000      1.000000   0.134671
sex_ Male                    0.000000  0.000000      0.223738   1.000000
workclass                    0.149272  0.000000      0.000000   0.000000

x                          workclass
y
age                         0.017161
age_education_interaction   0.027490
capital_gain                0.000000
capital_loss                0.000000
education                   0.000000
education_num               0.000000
fnlwgt                      0.000000
hours_per_week              0.000000
income_ >50K                0.000000
income_per_hour             0.000000
log_capital_gain            0.000000
marital_status              0.000000
native_country              0.000000
occupation                  0.102855
race                        0.000000
relationship                0.000000
sex_ Male                   0.000000
workclass                   1.000000

In [ ]:
print(correlation_matrix)

                                age  workclass    fnlwgt  education  \
age                        1.000000   0.009988 -0.079026  -0.002812
workclass                  0.009988   1.000000 -0.017831   0.019409
fnlwgt                    -0.079026  -0.017831  1.000000  -0.023298
education                 -0.002812   0.019409 -0.023298   1.000000
education_num              0.035963   0.046283 -0.039355   0.347690
marital_status            -0.284393  -0.060436  0.027795  -0.034145
occupation                -0.017709   0.248579 -0.001048  -0.025483
relationship              -0.262209  -0.092290  0.008571  -0.010679
race                       0.027202   0.048704 -0.022577   0.014373
capital_gain               0.093410   0.020837 -0.012993   0.020707
capital_loss               0.029835  -0.003454 -0.011045   0.021202
hours_per_week             0.094233   0.129166 -0.021354   0.053627
native_country             0.001334  -0.005586 -0.050673   0.062910
sex_ Male                  0.085632   0.094244  0.026354  -0.029881
income_ >50K               0.229483   0.040034 -0.012775   0.070711
age_education_interaction  0.775318   0.034439 -0.079708   0.195802
income_per_hour            0.092480   0.012836 -0.012858   0.018571
log_capital_gain           0.096498   0.011976 -0.014575   0.017207

                           education_num  marital_status  occupation  \
age                             0.035963       -0.284393   -0.017709
workclass                       0.046283       -0.060436    0.248579
fnlwgt                         -0.039355        0.027795   -0.001048
education                       0.347690       -0.034145   -0.025483
education_num                   1.000000       -0.056905    0.106509
marital_status                 -0.056905        1.000000   -0.006443
occupation                      0.106509       -0.006443    1.000000
relationship                   -0.088812        0.183798   -0.074875
race                            0.028561       -0.066930    0.006783
capital_gain                    0.130080       -0.061426    0.019677
capital_loss                    0.045779       -0.035785    0.012171
hours_per_week                  0.134755       -0.191822    0.071740
native_country                  0.050029       -0.024446   -0.012910
sex_ Male                       0.003897       -0.122795    0.080876
income_ >50K                    0.311494       -0.194875    0.070826
age_education_interaction       0.627330       -0.254202    0.049452
income_per_hour                 0.115123       -0.054627    0.013683
log_capital_gain                0.098761       -0.060931    0.013346

                           relationship      race  capital_gain  capital_loss  \
age                           -0.262209  0.027202      0.093410      0.029835
workclass                     -0.092290  0.048704      0.020837     -0.003454
fnlwgt                         0.008571 -0.022577     -0.012993     -0.011045
education                     -0.010679  0.014373      0.020707      0.021202
education_num                 -0.088812  0.028561      0.130080      0.045779
marital_status                 0.183798 -0.066930     -0.061426     -0.035785
occupation                    -0.074875  0.006783      0.019677      0.012171
relationship                   1.000000 -0.118451     -0.078864     -0.039615
race                          -0.118451  1.000000      0.020565      0.015433
capital_gain                  -0.078864  0.020565      1.000000     -0.032021
capital_loss                  -0.039615  0.015433     -0.032021      1.000000
hours_per_week                -0.253879  0.043718      0.082962      0.010101
native_country                -0.005596  0.133704      0.014664      0.010353
sex_ Male                     -0.579163  0.089276      0.062102      0.028681
income_ >50K                  -0.244490  0.071019      0.314940      0.085947
age_education_interaction     -0.247587  0.043122      0.154336      0.049284
income_per_hour               -0.057053  0.016674      0.949548     -0.145330
log_capital_gain              -0.074601  0.022224      0.868804     -0.038568

                           hours_per_week  native_country  sex_ Male  \
age                              0.094233        0.001334   0.085632
workclass                        0.129166       -0.005586   0.094244
fnlwgt                          -0.021354       -0.050673   0.026354
education                        0.053627        0.062910  -0.029881
education_num                    0.134755        0.050029   0.003897
marital_status                  -0.191822       -0.024446  -0.122795
occupation                       0.071740       -0.012910   0.080876
relationship                    -0.253879       -0.005596  -0.579163
race                             0.043718        0.133704   0.089276
capital_gain                     0.082962        0.014664   0.062102
capital_loss                     0.010101        0.010353   0.028681
hours_per_week                   1.000000        0.000895   0.229864
native_country                   0.000895        1.000000  -0.008464
sex_ Male                        0.229864       -0.008464   1.000000
income_ >50K                     0.221725        0.020487   0.208662
age_education_interaction        0.144597        0.027776   0.075842
income_per_hour                  0.031371        0.014243   0.045081
log_capital_gain                 0.067340        0.012271   0.059299

                           income_ >50K  age_education_interaction  \
age                            0.229483                   0.775318
workclass                      0.040034                   0.034439
fnlwgt                        -0.012775                  -0.079708
education                      0.070711                   0.195802
education_num                  0.311494                   0.627330
marital_status                -0.194875                  -0.254202
occupation                     0.070826                   0.049452
relationship                  -0.244490                  -0.247587
race                           0.071019                   0.043122
capital_gain                   0.314940                   0.154336
capital_loss                   0.085947                   0.049284
hours_per_week                 0.221725                   0.144597
native_country                 0.020487                   0.027776
sex_ Male                      0.208662                   0.075842
income_ >50K                   1.000000                   0.374488
age_education_interaction      0.374488                   1.000000
income_per_hour                0.283937                   0.144793
log_capital_gain               0.254840                   0.135364

                           income_per_hour  log_capital_gain
age                               0.092480          0.096498
workclass                         0.012836          0.011976
fnlwgt                           -0.012858         -0.014575
education                         0.018571          0.017207
education_num                     0.115123          0.098761
marital_status                   -0.054627         -0.060931
occupation                        0.013683          0.013346
relationship                     -0.057053         -0.074601
race                              0.016674          0.022224
capital_gain                      0.949548          0.868804
capital_loss                     -0.145330         -0.038568
hours_per_week                    0.031371          0.067340
native_country                    0.014243          0.012271
sex_ Male                         0.045081          0.059299
income_ >50K                      0.283937          0.254840
age_education_interaction         0.144793          0.135364
income_per_hour                   1.000000          0.852272
log_capital_gain                  0.852272          1.000000